[submodule "lc/LC-framework"]
	path = lc/LC-framework
	url = https://github.com/burtscher/LC-framework.git
[submodule "pfpl/PFPL"]
	path = pfpl/PFPL
	url = https://github.com/burtscher/PFPL
[submodule "cuSZ"]
	path = cuSZ
	url = https://github.com/szcompressor/cuSZ.git
[submodule "cuSZp"]
	path = cuSZp
	url = https://github.com/szcompressor/cuSZp.git
